body {
    height: 100%;
    margin: 0; /* Remove default margin */
    width: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
}

.main {
    background-color: purple;
    flex: 4; 
}

.samet {
    flex:1; 
    background-color: lightgray;
}
.center-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}